extends dashboard_base

block content
    div(class='col-sm-12')
        div(class='col-sm-9 offset-sm-3')
            div(class='row h-100 full-height')
                div(class='col-sm-11 pt-4')
                    br
                    div(class='user-information mt-2')
                        br
                        br
                        img(src='/images/pusheen_pizza.jpg' class='open-input-file rounded-circle user-icon2 float-sm-left mr-5')
                        p(class='presentation-text mt-5') Bienvenido
                    hr
                br
                div(class='col-sm-12 mt-4')
                    p(class='presentation-text text-left') Datos personales
                    form(action='/developerMembers' method='POST')
                        div(class='row')
                            div(class='form-group col-sm-12')
                                label(for='fullName') Nombre
                                input(type='text' class='form-control' name='fullName' placeholder='@Juanito Alcachofa' value=`${username.fullName}`) 
                            div(class='form-group col-12 col-sm-6')
                                label(for='birthdate') Fecha de nacimiento
                                if username.birthDate
                                  input(type='text' class='form-control' placeholder='1999-12-12' value=`${username.birthDate}` name='birthDate')
                                unless username.birthDate
                                  input(type='text' class='form-control' placeholder='1999-12-12' name='birthDate')
                            div(class='form-group col-12 col-sm-6')
                                label(for='curp') CURP
                                input(type='text' class='form-control' placeholder='12345678912345678' value=`${username.curp}` name='curp')
                            div(class='form-group col-12 col-sm-6')
                                label(for='rfc') RFC
                                input(type='text' class='form-control' placeholder='12345678912345678' value=`${username.rfc}` name='rfc')
                            div(class='form-group col-12 col-sm-6')
                                label(for='address') Domicilio
                                input(type='text' class='form-control' placeholder='Calle Mozarella #5555' value=`${username.address}` name='address')
                        div(class='col-sm-12 mt-3')
                            p(class='presentation-text text-left') ¿Cómo ayudas a tu equipo?
                                div(class='row')
                                    div(class='form-group col-sm-6')
                                        label(for='team') Equipo
                                        select(class='form-control' name='team')
                                            option EquipoDRAW
                                            option Equipo supremo
                                    div(class='form-group col-sm-6')
                                        label(for='role') Rol
                                        select(class='form-control' name='role')
                                            option Project manager
                                            option Backend
                                            option Frontend
                        br
                        input(type='submit' class='btn btn-danger float-right' value='Guardar perfil')
                        input(type='hidden' class='btn btn-danger float-right' value=`${username.github_provider_id}` name='github_provider_id')
                        input(type='hidden' class='btn btn-danger float-right' value=`${username.linkedin_provider_id}` name='linkedin_provider_id')
                        input(type='hidden' class='btn btn-danger float-right' value='1' name='permission')
                        input(type='hidden' class='btn btn-danger float-right' value=`${username.google_provider_id}` name='google_provider_id')
                              
