extends dashboard_base

block content
    div(class='col-sm-12')
        div(class='col-sm-9 offset-sm-3')
            section
                div(class='container')
                    div(class='row mt-10')
                      each project in projects
                        div(class='col-sm-6 col-lg-4 mt-5')
                            div(class='card-flip')
                                div(class='flip')
                                    div(class='front')
                                        div(class='card shadow-sm p-3 mb-5 bg-white rounded')
                                            img(class="card-img-top" src="../images/team_pizza.jpg" alt="100%x180" style="height: 180px; width: 100%; " data-holder-rendered="true")
                                            div(class="card-block")
                                                h4(class="card-title mt-3") #{project.projectName}
                                                p(class='card-text') #{project.developerTeam}
                                                p 
                                                    small Solicitud: #{project.projectRequestDate} 
                                                p 
                                                    small Arranque: #{project.projectStartDate}
                                    div(class="back")
                                        div(class="card shadow-sm p-3 mb-5 bg-white rounded")
                                            div(class="card-block")
                                                h4(class="card-title mt-3") #{project.projectName}
                                                p(class="card-text") #{project.projectDescription}
                                                p(class="card-text") #{project.projectManager}
                                                p(class='card-text') #{project.productOwner}
                                                a(href="../project" class="btn btn-danger card-link mb-3") Ver detalles
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                      div(class="d-flex align-items-end flex-column")
                        a(class='btn-corner btn btn-danger text-light' id='show-modal' data-toggle="modal" data-target="add-project") Agregar proyecto      
    div(class="modal fade" id="add-project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog bg-light col-sm-12" role="document")
            form(action='/Projects' method='POST')
                div(class="modal-content")
                    div(class="modal-header col-sm-12")
                        h5(class="modal-title" id="exampleModalLabel") Agregar proyecto
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    div(class="modal-body col-sm-12")
                        div(class='form-group col-12 col-sm-12')
                            label(for='projectName') Nombre
                            input(type='text' class='form-control' name='projectName' placeholder='Proyecto DRAW') 
                        div(class='form-group col-12 col-sm-6')
                            label(for='projectRequestDate') Fecha de solcitud
                            input(type='text' class='form-control' placeholder='1999-12-12' name='projectRequestDate')
                        div(class='form-group col-12 col-sm-6')
                            label(for='projectStartDate') Fecha de arranque
                            input(type='text' class='form-control' placeholder='1999-12-12' name='projectStartDate')
                        div(class='form-group col-12 col-sm-6')
                            label(for='projectDescription') Descripción
                            input(type='text' class='form-control' placeholder='Fabuloso proyecto' name='projectDescription')
                        div(class='form-group col-12 col-sm-6')
                            label(for='productOwner') Product owner
                            select(class='form-control' name='productOwner')
                              each developerMember in developerMembers
                                option #{developerMember.fullName}
                        div(class='form-group col-sm-6')
                            label(for='developerTeam') Equipo
                                select(class='form-control' name='developerTeam')
                                  each developerTeam in developerTeams
                                    option #{developerTeam.teamName}
                        div(class='form-group col-sm-6')
                            label(for='projectManager') Líder del proyecto
                                select(class='form-control' name='projectManager')
                                  each developerMember in developerMembers
                                    option #{developerMember.fullName}
                        div(class="modal-footer")
                            
                            button(type="button" class="btn btn-secondary" data-dismiss="modal") Cerrar
                            input(type='submit' class='btn btn-danger' value='Agregar')
                            
                    
                                    
